<div class="relative isolate pt-14">
  <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="py-24 sm:py-32 lg:pb-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">WanWeight</h1>
        <p class="mt-6 text-base sm:text-lg leading-8 text-gray-600">
          WanWeightではあなたの愛犬と一緒に体重管理をすることができます。
          <span class="hidden sm:inline"><br></span>
          日々の体重の記録や日記を付けて愛犬との生活を楽しみましょう。
        </p>
        <% if user_signed_in? %>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <%= link_to "マイページはこちら", mypage_path, class: "rounded-md bg-indigo-600 px-2.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        <% else %>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <%= link_to "新規登録", new_user_registration_path, class: "rounded-md bg-indigo-50 px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100" %>
            <%= link_to "ログイン", new_user_session_path, class: "rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
          </div>
          <div class="mt-6 flex items-center justify-center gap-x-6">
            <%= link_to "ゲストログインはこちら", guest_sign_in_path, class: "rounded-full bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        <% end %>
      </div>
      <div class="mt-12 flow-root sm:mt-10">
        <div class="-m-2 rounded-xl p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
          <%= image_tag('top_1sm.png', alt: "トップ画像1", class: "lg:w-5/6 h-auto mx-auto") %>
        </div>
      </div>
      <div class="container mx-auto">
        <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
          <div class="sm:w-1/2 sm:px-4">
            <div class="sm:px-10 mt-4 sm:mt-0">
              <h2 class="text-2xl sm:text-4xl font-bold mb-2">愛犬を登録</h2>
              <p class="mt-4 text-gray-700">
                愛犬の名前、誕生日、性別、犬種、そして愛犬の写真を登録することができます。
                最大で３匹まで登録できるので、多頭飼いの飼い主様でもご利用いただけます。
              </p>
            </div>
          </div>
          <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0">
            <div class="bg-white p-6 rounded-lg shadow-lg">
              <%= image_tag('firstview1.jpeg', alt: "愛犬登録", class: "lg:w-5/6 h-auto mx-auto") %>
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto">
        <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
          <div class="sm:w-1/2 sm:px-4 sm:order-2">
            <div class="sm:px-10 mt-4 sm:mt-0">
              <h2 class="text-2xl sm:text-4xl font-bold mb-2">体重を記録</h2>
              <p class="mt-4 text-gray-700">
                愛犬の名前、誕生日、性別、犬種、そして愛犬の写真を登録することができます。
                最大で３匹まで登録できるので、多頭飼いの飼い主様でもご利用いただけます。
              </p>
            </div>
          </div>
          <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0 sm:order-1">
            <div class="bg-white p-6 rounded-lg shadow-lg">
              <%= image_tag('firstview1.jpeg', alt: "愛犬登録", class: "lg:w-5/6 h-auto mx-auto") %>
            </div>
          </div>
        </div>
      </div> 
      <div class="container mx-auto">
        <div class="flex flex-col mt-12 sm:flex-row sm:-mx-4">
          <div class="sm:w-1/2 sm:px-4">
            <div class="sm:px-10 mt-4 sm:mt-0">
              <h2 class="text-2xl sm:text-4xl font-bold mb-2">愛犬を登録</h2>
              <p class="mt-4 text-gray-700">
                愛犬の名前、誕生日、性別、犬種、そして愛犬の写真を登録することができます。
                最大で３匹まで登録できるので、多頭飼いの飼い主様でもご利用いただけます。
              </p>
            </div>
          </div>
          <div class="sm:w-1/2 sm:px-4 mt-4 sm:mt-0">
            <div class="bg-white p-6 rounded-lg shadow-lg">
              <%= image_tag('firstview1.jpeg', alt: "愛犬登録", class: "lg:w-5/6 h-auto mx-auto") %>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>
