<div class="container mx-auto px-4">
  <div class="relative isolate pt-20">
    <div class="space-y-10 divide-y divide-gray-900/10">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <div class="pt-10 grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
          <div class="px-4 sm:px-0">
            <h2 class="text-base font-semibold leading-7 text-gray-900">設定変更</h2>
          </div>

          <div class="shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
            <div class="px-4 py-6 sm:p-8">
              <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                  <%= f.label :email, class: "block mb-4 text-lg font-bold leading-6" %>
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.email_field :email, class:"block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-base sm:leading-6" %>
                  </div>
                </div>
                
                <div class="sm:col-span-4">
                  <%= f.label :password, "変更後パスワード", class: "block mb-4 text-lg font-bold leading-6" %>
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.password_field :password, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-base sm:leading-6", placeholder: "変更後のパスワードを入力" %>
                  </div>
                </div>

                <div class="sm:col-span-4">
                  <%= f.label :password_confirmation, class: "block mb-4 text-lg font-bold leading-6" %>
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.password_field :password_confirmation, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-base sm:leading-6", placeholder: "変更後のパスワードをもう一度入力" %>
                  </div>
                </div>

                <div class="sm:col-span-4">
                  <%= f.label :current_password, class: "block mb-4 text-lg font-bold leading-6" %>
                  <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                    <%= f.password_field :current_password, class: "block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-base sm:leading-6", placeholder: "現在のパスワードを入力" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
              <%= f.submit "更新", class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
              <%= link_to "キャンセル", user_path(id: current_user.id), class:"rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
