<% provide(:title, "ユーザー体重記録") %>
<div class="flex min-h-full flex-col justify-center mt-10 lg:mt-20 py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">体重を記録する</h2>
  </div>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white mx-2 px-6 pt-6 pb-12 shadow sm:rounded-lg sm:px-12">
      <%= form_with model: @user_weight, class: "space-y-6", local: true do |f| %>
        <%= render 'user_weights/shared/error_messages', user_weight: @user_weight %>
        <div>
          <%= f.label :date, "* 日時", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2 flex flex-col gap-2">
            <div class="mt-2 flex gap-2">
              <%= f.date_field :date_part, 
                    class: "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 text-sm sm:leading-6" %> 
            </div>
            <div class="mt-2 flex gap-2">
              <%= f.time_field :time_part,
                    class: "block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 text-sm sm:leading-6" %> 
            </div>
          </div>
        </div>                                   
        <div>
          <%= f.label :weight, "* 体重", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= f.number_field :weight, step: 0.1, min: 0, max: 200, placeholder: "体重を記録",
                  class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 text-sm sm:leading-6" %> 
          </div>
        </div>
        <div>
          <%= f.submit "保存",
                class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      <% end %>
    </div>
    <div class="mt-10 text-center text-sm text-gray-500">
      <%= link_to "キャンセル", :back, class:"font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>
