<% provide(:title, "日記一覧") %>
<div class="mt-6 py-10">
  <div class="mx-auto max-w-7xl mt-6 px-2 sm:px-6 lg:px-8">
    <%= link_to "← マイページ", mypage_path, class: "text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    <h1 class="mt-6 text-2xl font-bold leading-tight tracking-tight text-gray-900">日記一覧</h1>
  </div>

  <div class="mx-auto max-w-7xl flex justify-between mt-4 mb-4 px-2 sm:px-6 lg:px-8">
    <%= form_with(url: diaries_path, method: :get, local: true) do |f| %>
      <%= f.select :date, date_options, { selected: "#{@year}-#{@month}" }, class: "mr-2", onchange: 'this.form.submit()' %>
    <% end %>
  </div>

  <div class="mx-auto max-w-7xl mt-4 mb-6 px-2 sm:px-6 lg:px-8">
    <%= link_to '日記を作成', new_diary_path, 
        class: "rounded-md bg-indigo-600 px-2.5 py-2.5 text-sm font-semibold text-white shadow-md hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>

  <div class="mx-auto max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-6 px-2 sm:px-6 lg:px-8">
    <% if @diaries.present? %>
      <% @diaries.each do |diary| %>
        <%= link_to diary_path(diary) do %>
          <div class="bg-white rounded-lg shadow-md p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0 mr-3">
                <div class="text-xl font-semibold text-red-500">
                  <%= diary.date.strftime('%-d') %>
                </div>
                <div class="text-center text-sm text-gray-500">
                  <%= t('date.abbr_day_names')[diary.date.wday] %>
                </div>
              </div>

              <div class="flex-grow flex items-center">
                <% if diary.dog.present? && diary.dog.avatar.attached? %>
                  <%= image_tag(url_for(diary.dog.avatar), alt: diary.dog.name, class: "h-8 w-8 object-cover rounded-md mr-2") %>
                  <div class="text-sm font-medium"><%= diary.dog.name %></div>
                <% elsif diary.user.avatar.attached? %>
                  <%= image_tag(url_for(diary.user.avatar), alt: diary.user.name, class: "h-8 w-8 object-cover rounded-md mr-2") %>
                  <div class="text-sm font-medium"><%= diary.user.name %></div>
                <% end %>
              </div>
            </div>

            <div class="mt-2 pt-2 border-t border-gray-200 text-sm text-gray-700">
              <% if diary.diary_text.present? %>
                <%= truncate(diary.diary_text, length: 50) %>
              <% elsif diary.meal_text.present? %>
                <%= truncate(diary.meal_text, length: 50) %>
              <% elsif diary.exercise_text.present? %>
                <%= truncate(diary.exercise_text, length: 50) %>
              <% elsif diary.health_text.present? %>
                <%= truncate(diary.health_text, length: 50) %>
              <% end %>
            </div>
     
            <% if diary.photos.attached? %>
              <div class="flex mt-2">
                <% diary.photos.each do |photo| %>
                  <%= image_tag(url_for(photo), alt: "日記の画像", class: "h-16 w-16 object-cover rounded-md mr-2") %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="text-left text-gray-500">
        日記がありません
      </div>
    <% end %>
  </div>
</div>
