<% provide(:title, "カレンダー") %>
<div class="mt-10 lg:mt-20 py-10">
  <div class="mx-auto max-w-7xl mt-6 px-4 sm:px-6 lg:px-8">
    <%= link_to "← 戻る", :back, class: "text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    <h1 class="mt-4 text-3xl font-bold leading-tight tracking-tight text-gray-900">カレンダー</h1>
  </div>

  <div class="mx-auto max-w-7xl px-1 sm:px-6 lg:px-8 mt-6">
    <%= month_calendar attribute: :date, events: @events, start_date: @start_date do |date, events| %>
      <% day_classes = date.month == @start_date.month && date.year == @start_date.year ? 'bg-white' : 'bg-gray-50 text-gray-500' %>
      <div class="relative <%= day_classes %> px-1 lg:px-3 py-1 h-20 lg:h-28">
        <% if date == Date.today %>
          <time class="flex h-6 w-6 items-center justify-center rounded-full bg-indigo-600 font-semibold text-white">
            <%= date.day %>
          </time>
        <% else %>
          <time>
            <%= date.day %>
          </time>
        <% end %>

        <div class="lg:flex lg:flex-row gap-1 grid grid-cols-2">
          <% events.each_with_index do |event, index| %>
            <% next if index >= 3 %>
            <% if event.is_a?(UserWeight) %>
              <%= link_to edit_user_weight_path(event.id), class: "sm:col-span-1" do %>
                <i class="fa-solid fa-weight-scale text-xl lg:text-3xl lg:mr-3" style="color: #c61010;"></i>
              <% end %>
            <% elsif event.is_a?(DogWeight) %>
              <%= link_to edit_dog_dog_weight_path(dog_id: event.dog_id, id: event.id), class: "sm:col-span-1" do %>
                <i class="fa-solid fa-dog text-xl lg:text-3xl lg:mr-3" style="color: #74C0FC;"></i>
              <% end %>
            <% elsif event.is_a?(Diary) %>
              <%= link_to diary_path(event), class: "sm:col-span-1" do %>
                <i class="fa-regular fa-note-sticky text-xl lg:text-3xl lg:mr-3" style="color: #63E6BE;"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
