<% provide(:title, "マイページ") %>
<div class="mt-10 lg:mt-20 py-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="mt-6 text-3xl font-bold leading-tight tracking-tight text-gray-900">マイページ</h1>
  </div>
  <div class="mx-auto max-w-7xl sm:px-4 lg:px-6">
    <div class="flex flex-col md:flex-row bg-white mt-6 mb-10 mx-2 border border-gray-100 rounded-lg p-6 shadow-md">
      <div class="w-full md:w-1/2 pb-4 flex">
        <% if current_user.avatar.present? %>
          <div class="flex-shrink-0">
            <%= image_tag current_user.avatar.variant(resize_to_limit: [400, 400]), class: "w-20 h-20 md:w-40 md:h-40 mt-2 object-cover rounded-md shadow-lg" %>
          </div>
        <% end %>
        <div class="ml-4">
          <h3 class="text-xl font-semibold mb-2"><%= current_user.name %></h3>
          <% if @latest_user_weight %>
            <p class="text-gray-700">前回の記録: <%= @latest_user_weight.weight %> kg</p>
            <% if current_user.bmi %>
              <p class="my-2 text-gray-700 flex items-center">BMI: <%= current_user.bmi %> 
                <% if current_user.bmi_status == '普通体重' %>
                  <span class="inline-flex items-center gap-x-1.5 rounded-md bg-blue-100 ml-2 px-2 py-1 text-xs font-medium text-blue-700">
                    <svg class="h-1.5 w-1.5 fill-blue-500" viewBox="0 0 6 6" aria-hidden="true">
                      <circle cx="3" cy="3" r="3" />
                    </svg>
                    <%= current_user.bmi_status %>
                  </span>
                <% else %>
                  <span class="inline-flex items-center gap-x-1.5 rounded-md bg-red-100 ml-2 px-2 py-1 text-xs font-medium text-red-700">
                    <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                      <circle cx="3" cy="3" r="3" />
                    </svg>
                    <%= current_user.bmi_status %>
                  </span>
                <% end %>
              </p>
            <% else %>
              <p class="mb-1 text-gray-700">BMIを計算するためのデータが不足しています</p>
            <% end %>
            <p class="mb-1 text-gray-700 text-xs"><%= @latest_user_weight.date.to_fs(:custom_datetime) %></p>
          <% else %>
            <p class="mb-1 text-gray-700">体重の記録がありません</p>
          <% end %>
          <div class="text-sm text-blue-500 mt-6">
            <%= link_to '体重を記録', new_user_weight_path, class: "mr-1" %>|
            <%= link_to '体重を管理', user_weights_path, class: "mr-1" %>
          </div>
          <div class="text-sm text-blue-500 mt-6">
            <%= link_to '日記を作成', new_diary_path, class: "mr-1" %>|
            <%= link_to '日記一覧', diaries_path, class: "mr-1" %>
          </div>
          <div class="text-sm text-blue-500 mt-6">
            <%= link_to 'カレンダー', calendar_path, class: "mr-1" %>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-4 bg-gray-100">
        <% if @latest_user_weight.present? %>
          <%= render 'mypages/shared/user_weight_chart', user_weight: @user_weights_for_month, latest_weight: @latest_user_weight %>
        <% else %>
          <p>体重の記録がありません</p>
        <% end %>
      </div>
    </div>

    <% case current_user.dogs.count %>
    <% when 0 %>
      <h2 class="my-6 mx-2 text-xl font-bold leading-tight tracking-tight text-gray-900">まだ愛犬は登録されていません</h2>
      <p class="mx-2 mb-4">愛犬は最大３匹まで登録ができます</p>
      <%= link_to '愛犬を登録する', new_dog_path, 
          class: "mx-2 rounded-md bg-indigo-600 px-2.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% when 1..2 %>
      <%= link_to '愛犬を登録する', new_dog_path, 
          class: "mx-2 rounded-md bg-indigo-600 px-2.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      <p class="my-4 mx-2 text-sm font-bold leading-tight tracking-tight text-gray-900">愛犬は最大３匹まで登録ができます</p>
    <% end %>

    <% if @dogs_with_weights.present? %>
      <% @dogs_with_weights.each do |dog_with_weight| %>
        <% dog = dog_with_weight[:dog] %>
        <% latest_dog_weight = dog_with_weight[:latest_weight] %>
        <% dog_weights_for_month = dog_with_weight[:weights_for_month] %>
        <div class="flex flex-col md:flex-row bg-white mt-6 mx-2 border border-gray-100 rounded-lg p-6 shadow-md">
          <div class="w-full md:w-1/2 pb-4 flex">
            <% if dog.avatar.present? %>
              <div class="flex-shrink-0">
                <%= image_tag dog.avatar.variant(resize_to_limit: [400, 400]), class: "w-20 h-20 md:w-40 md:h-40 mt-2 object-cover rounded-md shadow-lg" %>
              </div>
            <% end %>
            <div class="ml-4">
              <h3 class="text-xl font-semibold mb-2"><%= dog.name %></h3>
              <div class="text-sm text-blue-500 my-4">
                <%= link_to '編集', edit_dog_path(dog), 
                    class: "mr-2 rounded-md bg-indigo-600 px-3.5 py-1.5 text-ms font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
                <%= link_to '削除', dog_path(dog), 
                    data: { turbo_method: :delete, turbo_confirm: "本当に#{dog.name}の情報を削除してよろしいですか？" }, 
                    class: "rounded-md bg-red-600 px-3.5 py-1.5 text-ms font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
              </div>
              <p class="mb-1 text-sm text-gray-700">誕生日: <%= dog.birthday.to_fs(:custom_day) %></p>
              <p class="mb-1 text-sm text-gray-700">性別: <%= I18n.t("activerecord.enums.dog.sex.#{dog.sex}") %></p>
              <p class="mb-1 text-sm text-gray-700">犬種: <%= dog.breed %></p>
              <% if latest_dog_weight %>
                <p class="mb-1 mt-5 text-gray-700">前回の記録: <%= latest_dog_weight.weight %> kg</p>
                <p class="mb-1 text-gray-700 text-xs"><%= latest_dog_weight.date.to_fs(:custom_datetime) %></p>
              <% else %>
                <p class="my-5 text-gray-700">体重の記録がありません</p>
              <% end %>
              <div class="text-sm text-blue-500 mt-6">
                <%= link_to '体重を記録', new_dog_dog_weight_path(dog), class: "mr-1" %>|
                <%= link_to '体重を管理', dog_dog_weights_path(dog), class: "mr-1" %>
              </div>
            </div>
          </div>
          <div class="w-full md:w-1/2 p-4 bg-gray-100">
            <% if latest_dog_weight.present? %>
              <%= render 'mypages/shared/dog_weight_chart', dog_weight: dog_weights_for_month, latest_weight: latest_dog_weight %>
            <% else %>
              <p>体重の記録がありません</p>
            <% end %>
          </div>
        </div>      
      <% end %>
    <% end %>
  </div>
</div>
