<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= page_title(yield(:title)) %></title>
    <%= render 'layouts/default' %>
  </head>

  <body>
    <p class = "notice"> <%= notice %> </p>
    <p class = "alert"> <%= alert %> </p>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_importmap_tags %>
  </body>
</html>
