<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= page_title(yield(:title)) %></title>
    <%= render 'layouts/shared/default' %>
  </head>

  <body class="bg-white">
    <p class = "notice"> <%= notice %> </p>
    <p class = "alert"> <%= alert %> </p>
    <% if user_signed_in? %>
      <%= render 'layouts/shared/logged_in_header' %>
    <% else %>
      <%= render 'layouts/shared/header' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/shared/footer' %>
    <%= javascript_importmap_tags %>
  </body>
</html>
